llm/udemy-n8n-aiagent-automation/RSS_news_to_Notion.json
{
  "name": "RSS news to Notion",
  "nodes": [
    {
      "parameters": {
        "url": "https://rss.etnews.com/03.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -1840,
        40
      ],
      "id": "f79a1bb3-32f9-46cd-ac33-6af1432f12e1",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf2fe40-476b-489a-9bac-cb5fbf67ce1c",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "797feb8f-1594-4d5d-bff1-45aa38690829",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        40
      ],
      "id": "958e84b7-fe78-459f-904b-b442c9cb04d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=보고서 만들 소스야.\n--\n{{ $json.text }}",
        "options": {
          "systemMessage": "# 지시\n너는 뉴스 보고서를 만들어야 해. 보고서 만들 소스를 보고, 주제별로 분류해서 보고서를 만들어 줘. 보고서에는 뉴스 내용을 서술식으로 자세히 넣어 줘. 결과는 마크다운으로 만들어 줘."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -640,
        0
      ],
      "id": "8a3cac57-3e9c-4ddb-aaef-f098b48632d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1500,
        60
      ],
      "id": "3895f5db-9d87-4ed8-8485-b2b18fb2e934",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{$json[\"link\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1340,
        40
      ],
      "id": "48e90cc7-a5c4-4f26-8f50-1ef333311782",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "=",
              "cssSelector": "#articleBody p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1140,
        20
      ],
      "id": "e2ee675b-09d3-4bff-92db-28fcf779e443",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1042817b-7ee2-427d-ba18-478c440471fb",
              "name": "title",
              "value": "={{ $('Limit').item.json.title }}",
              "type": "string"
            },
            {
              "id": "5474c3d2-4ee2-40bc-830c-bbc671ecfd44",
              "name": "[''][0]",
              "value": "={{ $json[''][0] }}",
              "type": "string"
            },
            {
              "id": "d909142b-fe2f-44dd-b08a-f31462c058a8",
              "name": "link",
              "value": "={{ $('Limit').item.json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        20
      ],
      "id": "2d3b1b72-f680-4683-86f9-19a89f8a46d8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const blocks = items.map((item, idx) => {\n  const { title = '', link = '' } = item.json;\n\n  // title · link 를 뺀 나머지 필드(본문 등) 찾기\n  const others = Object.keys(item.json)\n    .filter(k => !['title', 'link'].includes(k))\n    .map(k => item.json[k])\n    .filter(Boolean)              // 빈 값 제거\n    .join('\\n');                  // 여러 필드가 있으면 줄바꿈으로 이어줌\n\n  return [\n    `${idx + 1}. ${title}`,   // ① 번호 + 제목\n    link,                     // ② 링크\n    others                    // ③ 본문(또는 기타 필드)\n  ].filter(Boolean).join('\\n\\n'); // 빈 줄 하나씩 넣어 가독성↑\n});\n\n// 블록 사이 구분선 (원하는 문자로 바꿔도 됨)\nconst combinedText = blocks.join(\n  '\\n\\n────────────────────────────────\\n\\n'\n);\n\nreturn [\n  { text: combinedText }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        20
      ],
      "id": "e0832441-851b-4f60-b20e-a164daafcb28",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2040,
        20
      ],
      "id": "faaa4c2e-b211-4372-a5ba-84a96de50868",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -600,
        200
      ],
      "id": "93c0babe-554a-496b-bb9a-a95f65cc9978",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "40kTQxsZJgttPSIc",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "https://www.notion.so/News-Report-21bc09898a4180429ce4f5aa6e4ef8ef",
          "mode": "url"
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -320,
        0
      ],
      "id": "3e97348d-9cba-4943-a7ac-094cc26b6b90",
      "name": "Notion",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "yRalUzplMBSGDRaH",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd6691cb-5475-4c0b-b783-5872d8daa11c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d1e3751e2a7a3957de722938060116ba2b15e3c42ff92702faff91de0a772c0"
  },
  "id": "4daOvdJZXJ0hsaAY",
  "tags": []
}