llm/fastcampus-nocode-rag-6project/1/n8n/workflow/google_drive.json
{
  "name": "google_drive",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "99ce8111-bd3d-4fc3-8446-5b9157a21b7d",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=  {{ $json.query }}",
        "limit": 5,
        "filter": {
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "4811b930-31c6-4475-b3d9-ce4d7f88fab5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P5zBDSX7cG29ilTG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "6832b4c1-9702-461f-bf2b-13a240d9c234",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P5zBDSX7cG29ilTG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "ccca0587-819e-423e-a875-75f0b16db798",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Summarize and organize the content below. \nYou might use emoji.\nYour summary should include:\n\nKey Concepts: What are the main ideas or core concepts? \n\nProblem-Solving Approach: How does the text address or solve the main problem?\n\nDifferences from Previous Research: What distinguishes this work from earlier studies?",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        0
      ],
      "id": "7bc16218-72f8-4da3-9169-0c8462c60a2c",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "W3SASZdzHEUpsfM8",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c4faa64-d253-4bdb-8991-16b75314c42f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00206bd31b981b9e03d325932b173f12a12104e488d86761fcd497bf5c05546e"
  },
  "id": "02uQ5nt7XewlhZ6m",
  "tags": []
}